root{
    background-color: black;
}


button{
    background-color: transparent;
    border-radius: 5px;
    color: white;
    font-size: 2.5em;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 5%;
    min-height: 4em;
    min-width: 48.5vw;
    text-align: center;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    padding-left: 0.2e5m;
    padding-right: 0.2e5m;
border-width: 15px;

}

